@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Caladea';
  src: url('./assets/fonts/Caladea-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Caladea', serif;
}